.fileExplorer{
    width: 50%;
    height: 80%;
    background-color: white;
    box-shadow:2px 2px 4px 4px rgba(0, 0, 0, 0.192);
    margin: 1rem;
  
}

.showingBody{
    overflow-y: scroll;
    height: 94%;
}

.header-fileexplorer{
    width: 100%;
    height: 40px;
    border-bottom:1px solid rgba(0, 0, 0, 0.116);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    user-select: none;
    -webkit-user-select: none;
}

.actions{
    display: flex;justify-content: center;align-items: center;height: 100%;z-index: 2;
}
.actions div{
    width: 50px;
    display: flex;justify-content: center;align-items: center;
    height: 100%;
    transition: all .2s ease-in;
}

.actions div:hover{
    background-color: rgb(109, 101, 101);
}

.close:hover{
    background-color: rgb(245, 37, 37) !important;
}

.showing{
    width: 100%;
    text-align: center;
    position: relative;
    left: 50px;
    text-transform: capitalize;
}