.notselect{
    user-select: none;
}
.desktop-file{
    width: 90px;
    height: auto;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: .5rem;
    color: white;
    -webkit-text-stroke: 0.2px black;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    
}

.desktop-file img{
    height: 50px;
    width: 38px;
    margin-bottom: .3rem;
}

.desktop-file:hover{
    background-color: rgba(91, 149, 236, 0.377);

}

.am{
    width: 60px !important;
    height: 55px !important;
}
.am2{
    width: 60px !important;
    height: 60px !important;
}

.pdf{
    width: 55px !important;
    height: 60px !important;
}

.css{
    width: 55px !important;
    height: 60px !important;
}
.net{
    width: 80px !important;
    height: 60px !important;
}